@theme "catppuccin-frappe"

window {
  x-offset: 652px;
  y-offset: -387px;
  width: 600;
  height: 200;
}

listview {
  border: 0px 0px 0px;
  padding: 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  text-color: @fg-col;
  background-color: @bg-col;
  columns: 3;
  lines: 1;
}
